{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}

<a href="{{url}}/s/groups/change">
    <button class="button min">Create Group</button>
</a>
<br/><br/>
{% if groups %}
    <table border="0" class="table-list hover" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td>#</td>
                <td>Mode</td>
                <td>Name</td>
                <td>Status</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
        {% for Group in groups %}
            <tr>
                <td>{{Group.getID()}}</td>
                <td>{{_getModeDescr(Group.getMode())}} </td>
                <td>{{Group.getName()}}</td>
                <td>{{Group.getStatus() == "A" ? "Active" : "Inactive"}}</td>
                <td>
                    <a href="{{url}}/s/groups/change?id={{Group.getID()}}" style="text-decoration:none;" title="Change Group">
                        <img src="{{url}}/core/pages/template/cog.png"/>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{url}}/s/permissions/list?group={{Group.getID()}}" style="text-decoration:none;" title="Change Permissions to Group">
                        <img src="{{url}}/core/pages/template/error_go.png"/>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
<center>No group registered</center>
{% endif %}

{% endblock %}