/******** FOLHA DE ESTILO PARA FORMULÁRIOS ********/

/* :::::: Formulários :::::: */

.form > label, .form > .label{
    font-weight: bold;
}
.form label, .form .label{
    font-size: 11px;
    display: inline-block;
    padding: 3px 5px 3px 5px;
    color: #AAA;
}
.form label input[type=text], .form .label input[type=text],
.form label input[type=radio], .form .label input[type=radio],
.form label input[type=checkbox], .form .label input[type=checkbox],
.form label input[type=password], .form .label input[type=password],
.form label select,  .form .label select,
.form label textarea, .form .label textarea{
    border: 1px solid #000;
    color: #222;
    font-size: 11px;
    max-width: 100%;
    padding: 3px;
    resize: none;
    margin: 0px !important;
}

.form .containerHTML{
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    border-bottom: 2px solid #DDD;
    border-right: 2px solid #DDD;
    max-width: 99%;
    padding: 3px;
    overflow: auto;
}
.form label input[readonly=true],
.form label textarea[readonly=true],
.form label select[readonly=true],
.form label .input[readonly=true],
.form .label input[readonly=true],
.form .label textarea[readonly=true],
.form .label select[readonly=true],
.form .label .input[readonly=true]{
    background-color: #CCC;
}
.form label input[type=radio],
.form label input[type=checkbox],
.form label .input,
.form .label input[type=radio],
.form .label input[type=checkbox],
.form .label .input{ 
    display:inline; 
}
.form fieldset{
    padding: 5px 5px 10px 5px;
    max-width: 100%;
    border: 1px solid #DDD;
    margin: 5px 0 5px 0;
}
.form fieldset legend{
    padding: 0 10px 0 10px;
    font-style: italic;
    font-size: 16px;
    color: #555;
}
.form fieldset fieldset legend{ font-size: 1.1em; }
.form fieldset fieldset{ margin: 4px; }

.btn-input-search{
    display: inline-block !important; 
    border: 1px solid gray !important; 
    padding: 1px !important; 
    margin: 2px 0 0 0px !important; 
    position: absolute !important;
    background-color: #002142 !important;
    border-color: #00172F !important;
    width: 15px !important;
    border-radius: 20% !important;
    cursor: pointer !important;
}
.btn-input-search:hover{
/*    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 0;
    border-bottom: 0;*/
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.input-search-elfinder{
    padding: 0 5px;
    vertical-align: middle;
    background-color: #cdd9de;
    background-color: #002142;
    min-height: 35px;
    color: #FFF;
    
/*    width: 580px;*/
}
.input-search-elfinder:active{
    top: 0px;
}
.btn-input-finder{
    background-color: #FFF;
    margin:5px;
    display:inline-block;
    vertical-align: middle;
    
    border: 1px solid #AAA; 
    padding: 4px; 
    height: 15px;
    width: 15px;
    border-radius: 25%;
    cursor:pointer;
}
