.ui-corner-top{
    font-size: 12px !important;
}
.ui-tabs-nav, .ui-widget-header{
    background: none !important;
    background-color: #999 !important;
    border-color: #999 !important;
}
.ui-widget-content{ 
    background: none; 
    background-color: #222; 
    border: 1px solid #222; 
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active *{ 
    background: none; 
    background-color: #222;  
    color: #FFF !important;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active{
    border: 1px solid #222;
    
}
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: 5px 5px 5px 5px; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
