<!DOCTYPE html>
<html>
    <head>
        <title>Hazo Framework</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link type="text/css" rel="stylesheet" href="{{url}}/core/pages/template/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />
        <script type="text/javascript" src="{{url}}/core/pages/template/jquery/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{url}}/core/pages/template/jquery/js/jquery-ui-1.8.22.custom.min.js"></script>
        <script type="text/javascript" src="{{url}}/core/pages/template/jquery/jquery.cookie.js"></script>

        <link type="text/css" rel="stylesheet" href="{{url}}/core/pages/template/css/form.css" />
        <link type="text/css" rel="stylesheet" href="{{url}}/core/pages/template/css/table-format.css" />
        <link type="text/css" rel="stylesheet" href="{{url}}/core/pages/template/css/style.css" />

        <style>
            *{ font-family: sans-serif; }
            .min{ padding:3px 7px !important; font-size:0.75em; margin:0 !important; }
            .message{
                position: absolute;
                top: 10px;
                left: 10px;
                margin: 0;
            }
            .message .success{
                border: 1px solid #83b07c;
                background-color: #83b07c;
                color: #FFF;
                padding: 10px 20px;
                margin: 8px;
            }
            .message .error{
                border: 1px solid #b93a3a;
                background-color: #b93a3a;
                color: #FFF;
                padding: 10px 20px;
                margin: 8px;
            }
        </style>

    </head>
    <body style="background-color: #222; color: #EEE;">

        <div class='message'>
            {% if success %}
            {% for message in success %}
            <p class='success'>{{message}}</p>
            {% endfor %}
            {% endif %}
            {% if errors %}
            {% for message in errors %}
            <p class='error'>{{message}}</p>
            {% endfor %}
            {% endif %}
        </div>

        <div>
            {% block content %}
            {% endblock %}
        </div>
        <script>
            $(".button").button();

            setTimeout(function() {
                $(".message").fadeOut()
            }, 6000);
            function openMenu(group, mode, module, submodule) {
                iframe = $("<iframe/>")
                .attr('src', '{{url}}/s/menu/$/' + group + '/' + mode + '/' + module + '/' + submodule)
                .css('color', '#FFF')
                .css('height', '100%')
                .css('width', '100%')
                .css('border', 'none');
                $("<div/>").css('overflow', 'hidden').append(iframe)
                        .dialog({
                    title: 'Change Menu',
                    resizable: false,
                    modal: true,
                    draggable: false,
                    width: 800,
                    height: 600
                })
            }
        </script>
    </body>
</html>
