{% extends "tpl_base.twig" %}

{% block conteudo %}

<style>
        *{ font-family: sans-serif; color: #647fc5 }
    
    div.cadernos{
        width: 20%;
        border-right: 1px dotted #abbbe5;
        float: left;
    }
    div.notas{
        width: 30%;
        border-right: 1px dotted #abbbe5;
        border-bottom: 1px dotted #abbbe5;
        float: left;
    }
    
    div.cadernos > ul li{
        border-bottom: 1px dotted #abbbe5;
    }
    div.cadernos .criar{
        border-bottom: 1px dotted #abbbe5;
        line-height: 30px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        height: 30px;
    }
    div.cadernos .criar a{
        height: 30px !important;
        width: 100% !important;
        text-decoration: none;
        display: block;
    }
    div.cadernos .criar a:hover{
        color: #FFF !important;
        background-color: #455e9d;
    }
        
    div.cadernos > ul{
        margin: 0px;
    }
    div.cadernos > ul li{
        line-height: 21px;
        vertical-align: middle;
        font-size: 12px;
        height: 22px;
        text-align: left;
        padding: 2px 4px;
        width: 100%;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }
    div.cadernos > ul li:hover{
        color: #FFF !important;
        background-color: #98abda;
    }
</style>

<div class="cadernos">
    
    <div class="criar">
        <a href="{{url}}/painel/caderno/cadastro">Criar Caderno</a>
    </div>
    
    <ul class="lista-cadernos">
    {% for Caderno in cadernos %}
        <li><a href="{{url}}/painel/caderno/visualizacao/{{Caderno.getToken()}}">{{Caderno.getTitulo()}}</a></li>
    {% endfor %}
    </ul>
    
</div>

<div class="notas">&nbsp;&nbsp;</div>


<script>
    
    function listaCadernos(){
        
        $.ajax({
            url: "{{url}}/painel/caderno/lista-cadernos",
            dataType: 'json',
            success: function(data){
                if( data.status ){
                    $(".lista-cadernos").html("");
                    for( i = 0; i < data.rows.length; i++ ){
                        
                        token = data.rows[i].token;
                        
                        li = $("<li/>").data('token',token).on('click', function(){
                            var token = $(this).data('token');
                            listaNotas(token);
                        }).html(data.rows[i].titulo);
                        $(".lista-cadernos").append(li);
                    }
                }
                setTimeout(function(){
                    listaCadernos();
                }, 1500);
            }
        });
        
    }
    
    function listaNotas( token ){
    
        console.log("Selecionado lista notas: "+token);
    
    }
    
    $().ready(function(){
        listaCadernos();
    });
</script>

{% endblock %}