<div class="block painel-usuario">
    <div class="nome">{{Usuario.getNome()}}</div>
    <div class="email">{{Usuario.getEmail()}}</div>
    <div class="sair"><a href="{{url}}/sessao/sair">Sair</a></div>
</div>

<div class="block cadernos">
    {% for Caderno in cadernos %}
        <a href="{{url}}/painel/caderno/visualizacao/{{Caderno.getToken()}}">{{Caderno.getTitulo()}}</a><br/>
    {% endfor %}
    <div style="clear:both;"></div>
    <hr/>
    <a href="{{url}}/painel/caderno/cadastro">Criar Caderno</a>
</div>

<style>
    .block{float:left;border:2px solid blue;padding:3px;margin:3px;}
</style>