{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}

<form class="form" id="myforms" action="" method="post">
    
    <h3>Module</h3>
    <label>
        Status<br/>
        <select id="mod-status" name="mod-status">
            <option value="O">Opened</option>
            <option value="C">Closed</option>
        </select>
        <script>$("#mod-status").val("{{Module.getStatus()}}")</script>
    </label>
    <label>
        Mode<br/>
        <input type="text" size="30" readonly="true" value="{{Module.getMode()}} - {{_getModeDescr(Module.getMode())}}"/>
    </label>
    <label>
        Module/Class url<br/>
        <input type="text" size="40" name="mod-module" value="{{Module.getModule()}}"/>
    </label>
    <label>
        Description<br/>
        <input type="text" size="40" name="mod-description" value="{{Module.getDescription()}}"/>
    </label>
    <br/>
    
    {% if get.module %}
    
    <h3>Submodules</h3>
    
    {% import "modules/change.macro.html" as form %}
    
    <div id="content-subs">
    
    {% set submodules = Module.getSubmodules() %}
    {% if submodules %}
        {% for sub,Submodulo in submodules %}
            {{ form.fieldsSub("block", sub, Submodulo) }}
        {% endfor %}
    {% endif %}
    
    {{ form.fieldsSub("block", '', '', 'cln-add') }}
    
    </div>
    <br/>
    <input type="button" onclick="$('#cln-add').clone().attr('id','').show().appendTo('#content-subs')" value="+" style="cursor:pointer;"/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% else %}
    <br/>
    {% endif %}
    <input type="submit" value="Save"/>
    <script>
        $(function () {
          $("#myforms").submit(function(){
            $("input[name='sub-show-menu[]']:not(:checked)").attr("checked","checked").val("N");
            $("input[name='sub-grant-require[]']:not(:checked)").attr("checked","checked").val("N");
          });
          $("#content-subs").sortable();
        }); 
    </script>
</form>

{% endblock %}