{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}

<style>
    .ssbmex{
        cursor: pointer;
    }
    .sbmex{
        border: 1px solid #AAA;
        padding: 4px 8px;
        margin: 15px 0;
        background-color: #444;
    }
    .sbmex .tbs{
        display: block;
        font-size: 14px;
        padding: 10px;
        margin: 5px 0;
    }
    .box-chg{
        display: inline-block;
        background-color: #222;
        border: 2px solid #AAA;
        width: 300px;
        height: 300px;
        margin: 0 10px 10px 0
    }
    .box-chg label{
        width: 280px;
    }
    .box-chg label input, .box-chg label textarea{
        width: 280px;
    }
    .box-chg label textarea{
        height: 220px;
    }
</style>

<form class="form" action="" method="post">
    
    <h3>Change Helpers</h3>
    <label>
        Mode <br/>
        <input type="text" size="40" readonly="true" value="{{mode_description}}"/>
    </label>
    <label>
        Description <br/>
        <input type="text" size="40" readonly="true" value="{{Module.getDescription()}}"/>
    </label>
    <label>
        Module/Class url <br/>
        <input type="text" size="40" readonly="true"  value="{{Module.getModule()}}"/>
    </label>
    <br/>

    <div class="sbmex">
        <div class="ssbmex" onclick="toggleDV('#dvichg-module')">
            Change helpers for {{Module.getDescription()}}
        </div>
        <div class="intra" style="display:none;" id="dvichg-module">
            {% if Module.getHelpers() %}
                {% for Helper in Module.getHelpers() %}
                    {% include 'modules/helpers-aux-box-mod.html' %}
                {% endfor %}
            {% endif %}
            {% set Helper = false %}
            {% include 'modules/helpers-aux-box-mod.html' %}
            <br/>
            <input type="button" class="btnadd" value="+"/>
        </div>
    </div>
    
    <input type="submit" value="Save"/>
    
    {% if Module.getSubmodules() is empty %}
    <br/><br/>
    <center>No submodules found</center>
    {% else %}
    <h4>Submodules</h4>

    {% for Submodule in Module.getSubmodules() %}
    {% set ind = random(99999)~random(99999)~random(99999) %}
    <div class="sbmex">
        <div class="ssbmex" onclick="toggleDV('#dvi-{{Submodule.getSubmodule()}}')">
            {{Submodule.getDescription()}}
        </div>
        <div class="intra" style="display:none;" id="dvi-{{Submodule.getSubmodule()}}">
            {% if Submodule.getHelpers() %}
                {% for Helper in Submodule.getHelpers() %}
                    {% include 'modules/helpers-aux-box-sub.html' %}
                {% endfor %}
            {% endif %}
            {% set Helper = false %}
            {% include 'modules/helpers-aux-box-sub.html' %}
            <br/>
            <input type="button" class="btnadd" value="+"/>
        </div>
    </div>
    {% endfor %}

    {% endif %}

</form>

<script>
    $(".ssbmex").click(function(){
        div = $(this).parent().find("div.tbs");
        if( $(div).css("display") == 'none' ){
            $(div).show();
        }else{
            $(div).hide();
        }
    });
    $(".btnadd").click(function(){
        divReferer = $(this).parent().find("div.box-chg:last");
        divClone = $(divReferer).clone();
        $(divClone).find("input").val('');
        $(divClone).find("textarea").html('');
        $(divReferer).after($(divClone).clone());
    });
    
    function toggleDV(content) {
        $(content).slideToggle();
    }
</script>

{% endblock %}