<div class="box-chg form">
    <label>
        Title <br/>
        <input type="text" name="mode_title[]" value="{{Helper['title']}}"/>
    </label>
    <label>
        Message <br/>
        <textarea name="mode_description[]">{{Helper['description']}}</textarea>
    </label>
</div>