<div class="box-chg form">
    <label>
        Title <br/>
        <input type="text" name="title[{{Submodule.getSubmodule()}}][]" value="{{Helper['title']}}"/>
    </label>
    <label>
        Message <br/>
        <textarea name="description[{{Submodule.getSubmodule()}}][]">{{Helper['description']}}</textarea>
    </label>
</div>