{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}

{% if modes %}

<style>
    .table-list{ margin-bottom: 20px; }
    .fmt-fn *, .fmt-fn{ font-size: 12px !important; }
    .tit-sub{ 
        background-color: #555; 
        height: 30px; 
        vertical-align: middle;
    }
    .tit-sub .tit{ 
        font-size: 15px !important;
        float:left;
        margin:5px;
        font-weight: bold;
    }
    .td-sub  { width: 20%; }
    .td-desc { width: 20%; }
    .td-act  { width: 15%; }
    .td-stat { width: 10%; }
    .td-menu { width: 15%; }
    .td-grant{ width: 15%; }
</style>

<div id="mods-tabs">
    <ul>
        {% for mode,modules in modes %}
        <li><a href="#attr-{{mode}}">{{ _getModeDescr(mode) }}</a></li>
        {% endfor %}
    </ul>
    {% for mode,modules in modes %}
    <div id="attr-{{mode}}" class="fmt-fn" style="color:#CCC;">
        
        <a href="{{url}}/s/modules/change?mode={{mode}}">
            <button class="button">Create Module</button>
        </a>
        <br/><br/>
        {% if modules %}
        {% for module,Module in modules %}
        <div class="tit-sub">
            <div class="tit">{{Module.getModule()}} - {{Module.getDescription()}}</div>
            <a style="float:right" href="{{url}}/s/modules/change?mode={{mode}}&module={{module}}">
                <button class="button">Chenge Module</button>
            </a>
            <a style="float:right" href="{{url}}/s/modules/helpers/$/{{mode}}/{{module}}">
                <button class="button">Chage Helpers</button>
            </a>
        </div>
        {% set submodules = Module.getSubModules() %}
        {% if submodules %}
        <table class="table-list hover" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                {% for submodule,Submodule in submodules %}
                <tr>
                    <td class="td-sub">{{submodule}}</td>
                    <td class="td-desc">{{Submodule.getDescription()}}</td>
                    <td class="td-act">{{_getSubModuleActionDescr(Submodule.getAction())}}</td>
                    <td class="td-stat">{{_getModuleSitDescr(Submodule.getStatus())}}</td>
                    <td class="td-menu">{{Submodule.getShowMenu()=='Y'?'Show in menu':'Dont show in menu'}}</td>
                    <td class="td-grant">{{Submodule.getGrantRequire()=='Y'?'Require grants':'Dont require grants'}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="table-list">No registered submodules</div>
        {% endif %}
        <br/>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
</div>
<script>$("#mods-tabs").tabs({ cookie: { expires: 1, name: "hazo-tab-sel-modules" } })</script>


{% else %}
<center>No registered modules</center>
{% endif %}

{% endblock %}