{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}


<style>
    #tab-v-grp-usr div{ color: #FFF !important; }
    .table-list *{ font-size: 12px !important; }
</style>

{% if groups %}
<div id="tab-v-grp-usr">
    <ul>
        {% for Group in groups %}
        <li><a href="{{url}}/s/users/list-group?group={{Group.getID()}}">{{Group.getName()}}</a></li>
        {% endfor %}
    </ul>
</div>
<script>
    $("#tab-v-grp-usr").tabs({ cookie: { expires: 1, name: "hazo-tab-sel-modules2" } });
</script>
{% else %}
<center>No group registered to users</center>
{% endif %}

{% endblock %}