<a href="{{url}}/s/users/change?group={{get['group']}}" class="button min">
    <button>Create User</button>
</a>
<br/><br/>
{% if users %}

    <table class="table-list hover" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Login</td>
                <td>Status</td>
                <td>E-mail</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {% for User in users %}
            <tr>
                <td>{{User.getID()}}</td>
                <td>{{User.getName()}}</td>
                <td>{{User.getLogin()}}</td>
                <td>{{User.getStatus() == 'A' ? 'Active' : 'Inactive'}}</td>
                <td>{{User.getEmail()}}</td>
                <td>
                    <a href="{{url}}/s/users/change?group={{get['group']}}&id={{User.getID()}}">
                        <img src="{{url}}/core/pages/template/cog.png"/>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}

<center>No users found</center>

{% endif %}
