{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}

<style>
    .tblms{
        margin: 0px 0px 10px 0px;
        font-size: 13px;
        width: 100%;
        border: 2px solid #444;
    }
    .tblms .end{
        background-color: #444;
    }
    .tblms .tit{
        background-color: #444;
    }
    .tblms .msg .sbmsg{
        padding: 10px;
        border: 1px solid #555;
        background-color: #333;
        margin-top: 5px;
    }
</style>

<p>
    <a class='button' href='{{url}}/s/mail-log' style='float:left'>Reload</a>
    <a class='button' href='{{url}}/s/mail-log/clear' style='float:right'>Clear Mail History</a>
</p>
<div style='clear: both;'></div>
<br/>

{% for mail in content %}

<table border="0" cellpadding="5" cellspacing="0" class='tblms'>
    <tr>
        <td class='end'>
            <b>From: </b>{{ mail['from'] }}
            &nbsp;&nbsp;&nbsp;
            <b>To: </b>
            {% set i = 0 %}
            {% for endr in mail['to'] %}
                {{ i != 0 ? ', ' : '' }}{{endr}}
                {% set i = i+1 %}
            {% endfor %}
            &nbsp;&nbsp;&nbsp;
            <b>Date: </b>{{ mail['date'] }}
        </td>
    </tr>
    <tr>
        <td class='tit'>
            <b>Title: </b>{{mail['subject']}}
        </td>
    </tr>
    <tr>
        <td class='msg'>
            <b>Message: </b>
            <br/>
            <div class='sbmsg'>{{mail['body']|raw}}</div>
        </td>
    </tr>
</table>

{% endfor %}

{% endblock %}