{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}

{% set img_granted %}
<img src="{{url}}/core/pages/template/accept.png"/>
{% endset %}
{% set img_not_granted %}
<img src="{{url}}/core/pages/template/delete.png"/>
{% endset %}

{% if modes %}

<div style="display:none;" id="img_granted">{{img_granted}}</div>
<div style="display:none;" id="img_not_granted">{{img_not_granted}}</div>

<style>
    .table-list{ margin-bottom: 20px; }
    .fmt-fn *, .fmt-fn{ font-size: 12px !important; }
    .tit-sub{ 
        background-color: #555; 
        height: 30px; 
        vertical-align: middle;
    }
    .tit-sub .tit{ 
        font-size: 15px !important;
        float:left;
        margin:5px;
        font-weight: bold;
    }
    .td-code { width: 1%; }
    .td-sub  { width: 19%; }
    .td-desc { width: 20%; }
    .td-act  { width: 15%; }
    .td-stat { width: 10%; }
    .td-menu { width: 15%; }
    .td-grant{ width: 15%; }
</style>

<div id="mods-tabs">
    <ul>
        {% for mode,modules in modes %}
        <li><a href="#attr-{{mode}}">{{ _getModeDescr(mode) }}</a></li>
        {% endfor %}
    </ul>
    {% for mode,modules in modes %}
    <div id="attr-{{mode}}" class="fmt-fn" style="color:#CCC;">
        <br/>
        {% if modules %}
        {% for module,Module in modules %}
        <div class="tit-sub">
            <div class="tit">{{Module.getModule()}} - {{Module.getDescription()}}</div>
        </div>
        {% set submodules = Module.getSubModules() %}
        {% if submodules %}
        <table class="table-list hover" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                {% for submodule,Submodule in submodules %}
                <tr>
                    <td class="td-code">
                        {% if Submodule.getGrantRequire() == "Y" %}
                            <label title="Alter Permission" style="cursor:pointer;" class="button-change-perm" data-group="{{get['group']}}" data-mode="{{mode}}" data-module="{{module}}" data-submodule="{{submodule}}">
                                {% if PermissionGroupIsGranted(get['group'], mode, module, submodule) %}
                                    {{img_granted}}
                                {% else %}
                                    {{img_not_granted}}
                                {% endif %}
                            </label>
                        {% endif %}
                    </td>
                    <td>
                        {% if Submodule.getShowMenu() == 'Y' %}
                            {% set group = get['group'] %}
                            <div style="width: 50px;">
                                <label onclick="openMenu('{{group}}', '{{mode}}', '{{module}}', '{{submodule}}')" title="Change Menu" style="cursor:pointer;">
                                    <img src="{{url}}/core/pages/template/application_side_list.png"/>
                                </label>
                                &nbsp;&nbsp;
                                <label class="change-default" title="Set to Default start page" style="cursor:pointer;" data-group="{{get['group']}}" data-mode="{{mode}}" data-module="{{module}}" data-submodule="{{submodule}}">
                                    {% if Group.getDefaultPage == mode~'|'~module~'|'~submodule %}
                                    <img src="{{url}}/core/pages/template/award_star_bronze_2.png"/>
                                    {% else %}
                                    <img src="{{url}}/core/pages/template/award_star_bronze_2opac.png"/>
                                    {% endif %}
                                </label>
                            </div>
                        {% endif %}
                    </td>
                    <td class="td-sub">{{Submodule.getSubmodule()}}</td>
                    <td class="td-desc">{{Submodule.getDescription()}}</td>
                    <td class="td-act">{{_getSubModuleActionDescr(Submodule.getAction())}}</td>
                    <td class="td-stat">{{_getModuleSitDescr(Submodule.getStatus())}}</td>
                    <td class="td-menu">{{Submodule.getShowMenu()=='Y'?'Show in menu':'Dont show in menu'}}</td>
                    <td class="td-grant">{{Submodule.getGrantRequire()=='Y'?'Require grants':'Dont require grants'}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="table-list">No registered submodules</div>
        {% endif %}
        <br/>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
</div>
<script>
    $("#mods-tabs").tabs({ cookie: { expires: 1, name: "hazo-tab-sel-modules" } });
    
    $(".button-change-perm").click(function(){
        group        = $(this).attr("data-group");
        mode         = $(this).attr("data-mode");
        module       = $(this).attr("data-module");
        submodule    = $(this).attr("data-submodule");
        default_page = $(this).attr("data-default");
        var elem = $(this);
        $.ajax({
          url: "{{url}}/s/permissions/change/$/"+group+"/"+mode+"/"+module+"/"+submodule+"/"+default_page,
          dataType: 'json'
        }).done(function ( data ) {
            if( data.status === "N" ){
                elem.html($("#img_not_granted").html());
            }
            else if( data.status === "Y" ){
                elem.html($("#img_granted").html());
            }
            else{
                alert("Error on change permission"+" "+data.msg);
            }
        });
    });
    
    $(".change-default").click(function(){
        group        = $(this).attr("data-group");
        mode         = $(this).attr("data-mode");
        module       = $(this).attr("data-module");
        submodule    = $(this).attr("data-submodule");
        var elem = $(this);
        $.ajax({
          dataType: 'json',
          url: "{{url}}/s/permissions/change-default/$/"+group+"/"+mode+"/"+module+"/"+submodule
        }).done(function ( data ) {
            if( data.status === "N" ){
                elem.find("img").attr("src", "{{url}}/core/pages/template/award_star_bronze_2opac.png");
            }
            else if( data.status === "Y" ){
                $(".change-default").find("img").attr("src", "{{url}}/core/pages/template/award_star_bronze_2opac.png");
                elem.find("img").attr("src", "{{url}}/core/pages/template/award_star_bronze_2.png");
            }
            else{
                alert("Error on change default page.."+" "+data.msg);
            }
        }).error(function(){ alert("Error on change default page") });
    });
    
</script>


{% else %}
<center>No registered modules</center>
{% endif %}


{% endblock %}