{% extends "core/pages/template/main.html" %}

{% block content %}

{% if post and _getErrors() is empty %}

<script>
    parent.window.location = parent.window.location;
</script>

{% else %}

<form class="form" method="post" action="">
    <label>
        Class name <br/>
        <input type="text" size="45" name="class-name" value="{{className?className:reference['ClassName']}}"/>
    </label>
    <label>
        Table <br/>
        <input type="text" size="45" name="table-name" value="{{reference['Table']}}"/>
    </label>
    <label>
        Description <br/>
        <input type="text" size="45" name="description" value="{{reference['Label']}}"/>
    </label>
    <input type="submit" class="button min" value="Save" style="position: absolute;right:8px;bottom:8px;"/>
</form>

{% endif %}

{% endblock %}