{% extends "core/pages/template/main.html" %}

{% block content %}

{% if post and _getErrors() is empty %}

<script>
    parent.window.location = parent.window.location;
</script>

{% else %}

<form method="post" action="" class="form">
    <label>
        Attribute <br/>
        {% if class_attributes %}
        <select name="class-attribute">
            {% for attr in class_attributes %}
            <option value="{{attr}}" {{ column['Attribute'] == attr ? "selected='selected'" : "" }}>{{attr}}</option>
            {% endfor %}
        </select>
        {% else %}
        <input type="text" size="20" name="class-attribute" value="{{column['Attribute']}}"/>
        {% endif %}
    </label>
    <label>
        Column <br/>
        {% if table_info %}
        <select name="table-column">
            {% for id, row in table_info %}
            <option value="{{id}}" {{ column['Name'] == id ? "selected='selected'" : "" }}>{{id}}</option>
            {% endfor %}
        </select>
        {% else %}
        <input type="text" size="20" name="table-column" value="{{column['Name']}}"/>
        {% endif %}
    </label>
    <label>
        Descripion <br/>
        <input type="text" size="30" name="description" value="{{column['Label']}}"/>
    </label>
    <br/>
    <label>
        Type <br/>
        <select name="column-type">
            <option value="">&nbsp;</option>
            <option value="Integer">Integer</option>
            <option value="Char">Char</option>
            <option value="String">String</option>
            <option value="Date">Date</option>
            <option value="DateTime">DateTime</option>
            <option value="BLOB">BLOB</option>
            <option value="CLOB">CLOB</option>
        </select>
        <script>jQuery("select[name='column-type']").val("{{column['Type']}}")</script>
    </label>
    <label>
        Length <br/>
        <input type="text" size="10" name="column-length" value="{{column['Length']}}"/>
    </label>
    <label>
        Default value<br/>
        <input type="text" size="30" name="column-default" value="{{column['Default']}}"/>
    </label>
    <br/>
    <label>
        Primary <br/>
        <center><input type="checkbox" name="column-primary" value="1" {{column['Primary']==1?'checked="checked"':''}}/></center>
    </label>
    <label>
        Auto-increment <br/>
        <center><input type="checkbox" name="column-auto" value="1" {{column['AutoIncrement']==1?'checked="checked"':''}}/></center>
    </label>
    <label>
        Unique <br/>
        <center><input type="checkbox" name="column-unique" value="1" {{column['Unique']==1?'checked="checked"':''}}/></center>
    </label>
    <label>
        Nullable <br/>
        <center><input type="checkbox" name="column-null" value="1" {{column['Null']==1?'checked="checked"':''}}/></center>
    </label>
    <br/>
    <label>
        Reference Table <br/>
        <input type="text" size="30" name="column-reference-table" value="{{column['Reference']['Table']}}"/>
    </label>
    <label>
        Reference Column <br/>
        <input type="text" size="30" name="column-reference-column" value="{{column['Reference']['Column']}}"/>
    </label>
    
    <input type="submit" class="button min" value="Save" style="position: absolute;right:8px;bottom:8px;"/>
</form>

{% endif %}

<script>
    
    function changeFields( id ){
        if( !id ){
            id = $("[name='table-column']").val();
        }
        
        fields = new Array();
        /* {% for id, row in table_info %} */
        field = new Array();
        field['Attribute']      = "{{row['Attribute']}}";
        field['Type']           = "{{row['Type']}}";
        field['Null']           = "{{row['Null']}}";
        field['Key']            = "{{row['Key']}}";
        field['Default']        = "{{row['Default']}}";
        field['Unique']         = "{{row['Unique']}}";
        field['Extra']          = "{{row['Extra']}}";
        field['Length']         = "{{row['Length']}}";
        field['Primary']        = "{{row['Primary']}}";
        field['AutoIncrement']  = "{{row['AutoIncrement']}}";
        
        fields['{{id}}'] = field;
        /* {% endfor %} */
        
        $("[name='column-length']").val( fields[id]['Length'] );
        $("[name='column-type']").val( fields[id]['Type'] );
        $("[name='column-default']").val( fields[id]['Default'] );

        if( fields[id]['Null'] == '1' ){
            $("[name='column-null']").attr('checked', true);
        }else{
            $("[name='column-null']").attr('checked', false);
        }

        if( fields[id]['Unique'] == 1 ){
            $("[name='column-unique']").attr('checked', true);
        }else{
            $("[name='column-unique']").attr('checked', false);
        }

        if( fields[id]['Primary'] == 1 ){
            $("[name='column-null']").attr('checked', false);
            $("[name='column-primary']").attr('checked', true);
        }else{
            $("[name='column-primary']").attr('checked', false);
        }

        if( fields[id]['AutoIncrement'] == '1' ){
            $("[name='column-auto']").attr('checked', true);
        }else{
            $("[name='column-auto']").attr('checked', false);
        }
        
    }
    
    /* {% if new_collumn %} */
    changeFields();
    /* {% endif %} */
    
    $("[name='table-column']").on('change', function(){
        changeFields($(this).val());
    });
</script>

{% endblock %}