<!DOCTYPE html>
<html>
    {% set url_tpl = url~"/media/templates/app" %}
    <head>
        <meta charset="UTF-8">
        <title></title>
        
        <link href="{{url_tpl}}/css/reset.css" type="text/css" rel="stylesheet"/>
        
        {# JQuery #}
        <script src="{{url}}/media/libs/jquery/jquery-1.9.1.min.js"></script>
        <script src="{{url}}/media/libs/jquery/jquery.form.js"></script>
        <script src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        
        {# Bootstrap #}
        <link rel="stylesheet" href="{{url}}/media/libs/bootstrap-3.1.1/css/bootstrap.css">
        <link rel="stylesheet" href="{{url}}/media/libs/bootstrap-3.1.1/css/bootstrap-theme.min.css">
        
        {{includes|raw}}
    </head>
    <body>
        {% if Usuario %}
            {% include "cabec-online.twig" %}
        {% endif %}
            
        {% block conteudo %}{% endblock %}
            
    </body>
</html>